# requirements.txt
streamlit
psutil
pywhatkit
smtplib
email
twilio
googlesearch-python
requests
beautifulsoup4
numpy
matplotlib
opencv-python
speechrecognition
pillow
paramiko
boto3
folium
geocoder
streamlit-folium
pytz
instagrapi
python-dotenv
google